<md-card>
  <md-card-header>
    <img md-card-avatar src="{{post.authorPhotoURL}}">
    <span fxFlex></span>
    <md-card-subtitle>
      {{post.createdAt | date: 'dd/MM/yyyy'}}
    </md-card-subtitle>
    <md-card-title>{{post.authorName}}</md-card-title>
    <button md-icon-button [mdMenuTriggerFor]="menu">
      <md-icon>more_vert</md-icon>
    </button>
  </md-card-header>
  <img md-card-image src="{{post.thumbnail}}">
  <md-card-content>
    <p>{{post.postText}}</p>
  </md-card-content>
  <md-divider></md-divider>
  <md-card-actions>
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutWrap="wrap">
      <button md-icon-button (click)="onLikePost(post, user)">
        <md-icon>plus_one</md-icon>
      </button>
      <div fxLayout="column" class="likes">{{post.likes_count}}</div>
      <span fxFlex></span>
      <button md-icon-button>
        <md-icon>comment</md-icon>
      </button>
      <button md-icon-button>
        <md-icon>share</md-icon>
      </button>
    </div>
  </md-card-actions>
  <!--
  <md-card-footer *ngIf='post.comments'>
      <ms-post-list-item
      *ngFor="let comment of (posts$ | async)?.slice().reverse()"
      [comment]="comment"
      fxFlex="50">
    </ms-post-list-item>
  </md-card-footer>
  -->
</md-card>


<md-menu #menu="mdMenu">
  <button md-menu-item (click)="openRemoveDialog(post)" *ngIf="post.createdBy === user.userId">
    <md-icon>delete</md-icon>
    <span>Delete</span>
  </button>
  <button md-menu-item disabled>
    <md-icon>create</md-icon>
    <span>Edit Post</span>
  </button>
</md-menu>
