<div class="post-container" fxLayout="row" fxLayoutAlign="space-around top" fxLayoutWrap="wrap">

  <md-card class="initial-card" fxFlex="50">
    <md-card-content>
      <img md-card-avatar src="/assets/img/avatars/20.png">
      <span fxFlex></span>
      <md-card-title>What's up?</md-card-title>
      <span fxFlex></span>
      <button md-icon-button (click)="openPostDialog()" color="primary">
        <md-icon>add</md-icon>
      </button>
    </md-card-content>

  </md-card>

  <ms-post-list-item
    *ngFor="let post of (posts$ | async)?.slice().reverse()"
    [post]="post"
    fxFlex="50">
  </ms-post-list-item>

</div>
